@model IEnumerable<DanAutoPower.Models.Service>

@{
    ViewData["Title"] = "Списък с услуги";
}

<h2>Списък с услуги</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Добави нова услуга</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Description</td>
                <td>@service.Price €</td>
                <td>
                    <a asp-action="Details" asp-route-id="@service.Id" class="btn btn-info">Детайли</a>
                    <a asp-action="Edit" asp-route-id="@service.Id" class="btn btn-warning">Редакция</a>
                    <a asp-action="Delete" asp-route-id="@service.Id" class="btn btn-danger">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>
