@model IEnumerable<DanAutoPower.Models.Car>

@{
    ViewData["Title"] = "Car Listings";
}

<h2>Car Listings</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">+ Add New Car</a>
    </p>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Марка</th>
            <th>Модел</th>
            <th>Вид гориво</th>
            <th>Година на производство</th>
            <th>Пробег</th>
            <th>Цена</th>
            <th>Снимка</th>
            <th style="width: 140px;">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Fuel</td>
                <td>@car.Year</td>
                <td>@car.Mileage km</td>
                <td>@car.Price.ToString("C")</td>
                <td>
                    @if (!string.IsNullOrEmpty(car.ImageUrl))
                    {
                        <img src="@car.ImageUrl" style="height: 50px;" />
                    }
                    else
                    {
                        <span>Няма снимка</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@car.Id" class="btn btn-sm btn-info">Детайли</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-sm btn-warning">Редакция</a>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-sm btn-danger">Изтрий</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
